body {
  background: #fff;
  font:
    15px Arial,
    Helvetica,
    sans-serif;
  line-height: 1.4;
  margin-bottom: 100px;
}

a {
  font-style: italic;
}

em {
  color: #999;
}

p {
  line-height: 1.4;
}

ul {
  margin-bottom: 0;
}

section {
  margin-bottom: 2em;
}

h1 {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}

.divided {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

.right div {
  text-wrap: nowrap;
}

#basics {
  margin-top: 0;
  margin-bottom: 20px;
}

#basics ul {
  list-style: none;
  text-align: right;
}

#basics a {
  color: #000;
  text-decoration: none;
}

section {
  border-top: 3px solid #000;
}

section h2 {
  margin-top: 4px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
}

section .item {
  margin: 0 0 20px;
  padding: 0;
  position: relative;
}

#position h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  max-width: 70%;
  display: inline-block;
}

#position h4 {
  display: inline-block;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

#position span {
  font-style: italic;
}

section .item p {
  margin: 0;
}

section .item ul {
  margin-top: 0;
}

blockquote {
  margin: 0;
  margin-bottom: 1em;
}

.item {
  margin-bottom: 1em;
}

#resume {
  margin: 0 auto;
  max-width: 816px;
}

#location strong {
  clear: both;
  float: left;
  line-height: 1.3;
  width: 120px;
}

#skills {
  overflow: hidden;
}

#skills .item {
  float: left;
  width: 50%;
}
